@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: white;
  --primary-color: #0f172a;
  --primary-font: Roboto, Arial, Helvetica, sans-serif;
  --content-padding-h: 5rem;
}

* {
  font-family: var(--primary-font);
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1110px) {
  :root {
    --content-padding-h: 2rem;
  }
}

