.container {
  position: relative;
  white-space: nowrap;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 875px) {
  .underline {
    height: 15px;
  }
}
